html, .App {
  background:rgb(235, 242, 255);
}

// a:link {
//   color: #cad;
// }

// a:visited {
//   color: #cad;
// }

// a:hover {
//   color:rgb(220, 241, 245)
// }

// a:active {
//   color: rgb(87, 95, 118);
// }

.hero{
  padding: 1rem;
  background: rgb(173, 200, 220);
  h1{
    margin: 0rem;
  }
}