.App {
  color:rgb(220, 241, 245)
}

a:link {
  color: #cad;
}

a:visited {
  color: #cad;
}

a:hover {
  color:rgb(220, 241, 245)
}

a:active {
  color: rgb(87, 95, 118);
}

.hero{
  padding: 1rem;

  h1{
    margin-top: 0rem;
  }
}