.App {
  
}

// a:link {
//   color: #cad;
// }

// a:visited {
//   color: #cad;
// }

// a:hover {
//   color:rgb(220, 241, 245)
// }

// a:active {
//   color: rgb(87, 95, 118);
// }

.hero{
  padding: 1rem;
  background: rgb(161, 187, 141);
  h1{
    margin: 0rem;
  }
}